@import '~styles/mixins/mixins.scss';

.footer {
  width: 100%;
  min-height: 390px;
  background-color: $--color-gray3;
  margin: 0;
  padding: 50px 142px 40px 142px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $--color-white;
  font-size: 16px;
  @include fontMontserratLight();
  position: relative;
  overflow: hidden;

  @media (max-width: $--lg) {
    & {
      padding: 50px 165px 40px;
    }
  }

  @media (max-width: $--sm - 1) {
    & {
      padding: 50px 62px 40px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: $--lg) {
    &__container {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logoContainer {
    border: 1px solid #ffffff;
    border-radius: 7px;
    text-align: center;
    padding: 13px 8px;

    @media (max-width: $--lg) {
      display: flex;
      flex-direction: row;
      gap: 0 20px;
      align-items: center;
      margin: 0 auto 33px auto;
      max-width: 396px;
      padding: 19px 22px;
    }

    @media (max-width: $--sm - 1) {
      flex-direction: column;
      padding: 11px 22px;
    }
  }

  &__aboutCompanyText {
    font-size: 14px;
    line-height: 17px;
    max-width: 245px;

    @media (max-width: $--lg) {
      max-width: 100%;
      text-align: left;
    }

    @media (max-width: $--sm - 1) {
      text-align: center;
    }
  }

  &__titleList {
    @include fontSemiBold();
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 14px 0;
    color: #d0d0d0;
  }

  &__middleItem {
    margin: 0 86px 0 0;

    @media (max-width: $--gx) {
      margin: 0 30px 0 0;
    }

    @media (max-width: $--sm - 1) {
      margin: 0 0 0 30px;
    }
  }

  @media (max-width: $--sm - 1) {
    &__titleList__align {
      text-align: center;
    }

    &__titleList {
      margin-bottom: 12px;
      line-height: normal;
    }
  }

  &__linkList {
    font-size: 18px;
    line-height: 22px;
    margin: 0 35px 12px 0;
    color: $--color-white;

    &:hover {
      opacity: 0.6;
    }

    &_marginRightNull {
      @media (max-width: $--gx) {
        margin: 0 0 12px 0;
      }
    }
  }

  &__RecipesList {
    display: flex;
  }

  &__rowContainer {
    display: flex;
    flex-direction: row;
  }

  &__middle {
    display: flex;
  }

  @media (max-width: $--lg) {
    &__middle {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      margin-bottom: 25px;
    }
  }

  @media (max-width: $--gx) {
    &__middleItem {
      margin: 0 49px 0 0;
    }
  }

  @media (max-width: $--sm - 1) {
    &__middle {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    &__middleItem {
      order: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 239px;
      margin: 0 0 18px 0;
    }

    &__recipesBlock {
      justify-content: space-between;
      width: 245px;
    }

    &__list_margin {
      margin-right: 20px;
    }

    &__linkList {
      margin: 0;
    }

    &__list_align {
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__logo {
    width: 94px;
    margin: 0 0 12px 0;
  }

  &__socialItem {
    margin-right: 20px;
  }

  &__socialItem:last-child {
    margin-right: 0;
  }

  &__socialIcon {
    width: 40px;
  }

  &__termsOfUse {
    text-align: center;
    color: $--color-white;

    @media (max-width: $--lg) {
      color: $--color-gray15;
    }

    @media (max-width: $--xs) {
      order: -1;
      color: #8f8f8f;
    }

    &__link {
      font-size: 16px;
      line-height: 20px;
      color: $--color-white;

      @media (max-width: $--lg) {
        color: $--color-gray15;
      }

      @media (max-width: $--xs) {
        color: #8f8f8f;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @media (max-width: $--lg) {
    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media (max-width: $--sm - 1) {
    &__bottom {
      margin-top: 23px;
    }

    &__titleList_hidden {
      display: none;
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $--color-white;

    @media (max-width: $--lg) {
      color: $--color-gray15;
    }

    @media (max-width: $--xs) {
      max-width: 145px;
      margin: 0 auto;
      color: #8f8f8f;
    }
  }

  &__termsContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    border-top: 1px solid #8f8f8f;

    @media (max-width: $--lg) {
      border: none;
      padding-top: 17px;
      flex-direction: column;
      gap: 6px 0;
    }

    @media (max-width: $--sm - 1px) {
      gap: 9px 0;
    }
  }
}
