@import "~styles/mixins/mixins.scss";
@import "~styles/variables.scss";

.uploads {
  display: flex;
  flex-direction: column;
  padding: 40px 0 97px;

  @media (max-width: $--sm) {
    & {
      padding: 40px 0 97px;
    }
  }

  @media (max-width: $--lg) {
    & {
      padding: 40px 0 97px;
    }
  }

  &__navbar {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 45px;

    span {
      color: $--color-orange;
    }

    a, a:active, a:visited {
      font-size: 20px;
      font-weight: 300;
      line-height: 45px;
      color: $--color-gray6;
    }

    &__link:hover:visited {
      color: $--color-orange;
    }
  }

  @media (max-width: $--lg) {
    &__navbar {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $--sm) {
    &__navbar {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 65px;
  }

  &__title {
    font-size: 30px;
    @include fontMedium();
  }

  @media (max-width: $--lg) {
    &__header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 20px;
    }
  }

  &__recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: $--lg) {
    &__recipes {
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: center;
    }
  }

  @media (max-width: $--sm - 1) {
    &__recipes {
      display: grid;
      grid-template-columns: auto;
      justify-content: center;
    }
  }

  &__pagination {
    align-self: center;
  }
}
