@import "~styles/mixins/mixins.scss";

.comment {
  position: relative;
  display: flex;
  padding: 24px 0 34px;
  border-bottom: 1px solid $--color-gray-9;

  &__avatar {
    align-self: flex-start;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__body {
    max-width: 632px;
    @include fontRegular();
    font-size: 18px;
  }

  &__username {
    margin-bottom: 10px;
    @include fontMedium();
    font-size: 20px;
    line-height: 24px;

    @media (max-width: $--xs) {
      display: flex;
      align-items: center;
    }
  }

  &__text {
    margin-bottom: 16px;
    word-break: break-all;
  }

  &__likes {
    display: flex;
  }

  &__like {
    display: flex;
    align-items: center;
    margin-right: 42px;

    &__icon {
      margin-right: 12px;
      color: $--color-gray1;
      cursor: pointer;
    }

    &__icon:hover {
      color: black;
    }
  }

  &__like:last-child {
    margin-right: 0;
  }

  &__delete {
    position: absolute;
    top: 24px;
    right: 10px;
    color: inherit;
    cursor: pointer;
    transform: rotate(45deg);
    opacity: 0.2;
    transition: opacity 0.3s !important;

    &:hover {
      transform: rotate(45deg) scale(1.2);
    }
  }

  &:hover .comment__delete {
    opacity: 0.8;
  }
}
