@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.card {
  width: 480px;
  min-height: 241px;
  padding: 28px 0 0 42px;

  @media (max-width: $--sm) {
    padding: 25px 25px;
  }
}

.title {
  font-size: 22px;
  @include fontSemiBold();
  margin-bottom: 35px;
  color: $--color-orange;

  @media (max-width: $--xs) {
    text-align: center;
  }
}

.listContainer {
  display: flex;

  @media (max-width: $--xs) {
    flex-direction: column;
  }
}

.list {
  margin-left: 34px;
  list-style-type: none;

  @media (max-width: $--xs) {
    margin-top: 20px;
    margin-left: 0;
  }
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item:last-child {
  margin-bottom: 0px;
}

.image {
  width: 100px;
  height: 100px;

  @media (max-width: $--xs) {
    align-self: center;
  }
}

.item__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  margin-right: 10px;
  color: #fff;
  background-color: $--color-orange;
  border-radius: 50%;
}
