@import '~styles/variables.scss';

.registerTitle {
  font-size: 24px;
  line-height: 1.08;
  text-align: center;
  color: $--color-blue;
  margin: 106px 0 60px;
}

.registerForm {
  margin: 0 auto 15px;
  display: block;
  max-width: 281px;
}