@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';

.terms {
  padding: 50px 0 100px 0;
  text-align: justify;

  @media (max-width: $--md) {
    padding: 20px 35px 0;
  }

  @media (max-width: $--xs) {
    padding: 0 5px 20px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    @include fontSemiBold();

    @media (max-width: $--md) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  &__text {
    padding: 20px 0;
    font-size: 22px;
    line-height: 26px;

    @media (max-width: $--md) {
      font-size: 18px;
      line-height: 24px;
    }

    &_wordWrap {
      word-break: break-word;
    }
  }

  &__textBold {
    padding: 20px 0;
    font-size: 22px;
    line-height: 26px;
    @include fontSemiBold();

    @media (max-width: $--md) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__subtitle {
    font-size: 26px;
    line-height: 30px;
    padding: 20px 0 0 0;
    @include fontSemiBold();

    @media (max-width: $--md) {
      font-size: 22px;
      line-height: 28px;
    }
  }

  &__textBlock {
    display: grid;
    grid-template-columns: 370px auto;
    text-align: justify;
    gap: 0 30px;
    margin-bottom: 48px;

    @media (max-width: $--md) {
      grid-template-columns: 1fr;
      margin-bottom: 0;
    }
  }

  &__marginBottom {
    margin-bottom: 95px;

    @media (max-width: $--md) {
      margin-bottom: 0;
    }
  }
}
