@import '~styles/variables.scss';

.registerTitle {
  font-size: 24px;
  line-height: 1.08;
  text-align: center;
  color: $--color-orange;
  margin: 106px 0 60px;
}

.loginForm {
  margin: 0 auto 40px;
  display: block;
  max-width: 281px;
}

.registerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.registerLink {
  color: $--color-gray;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
}

.registerLink:hover {
  color: $--color-blue;
}