@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';

.notFound {
  height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  padding: 0 20px;

  &__subtitle {
    font-size: 30px;
    line-height: 30px;
  }

  h2 {
    line-height: 38px;
  }
}
