@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.search {
  flex: 1;
  color: $--color-gray7;

  &__grid {
    margin: 25px 0 0 0;
    display: grid;
    grid-template-columns: auto auto;

    a {
      margin: 0 15px 0 0;
    }

    p:last-of-type {
      color: $--color-orange;
      margin: 0 0 0 6px;
    }
  }

  &__buttonLink {
    border: none;
    color: $--color-orange;
    @include fontRegular();
    font-size: 15px;
    cursor: pointer;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;

    button {
      margin-left: auto;
    }
  }

  &__form {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 14px;

  }
}
