@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.icon {
    background: $--color-gray4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    padding: 0 5px;

    &__text {
        font-size: 15px;
        padding: 0 0 0 5px;
    }

    &__like {
        padding: 3px 0 0 0;
        width: 18px;
        height: 15px;
    }
}