@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.card {
  width: 220px;
  min-height: 190px;

  &__media {
    height: 145px;
  }

  &__title {
    font-size: 16px;
    @include fontMedium();
    text-overflow: ellipsis;
    max-height: 16px;
    white-space: nowrap;
    overflow: hidden;
  }
}
