@import '~styles/variables.scss';
@import '~styles/mixins/mixins.scss';

.search {
  padding: 20px 235px;
  color: $--color-gray7;

  @media (max-width: $--md) {
    padding: 20px 100px;
  }

  @media (max-width: $--sm) {
    padding: 20px 50px;
  }

  @media (max-width: $--xs) {
    padding: 20px 10px;
  }

  &__grid {
    display: grid;
    margin: 25px 0 0 0;
    grid-template-columns: auto auto;

    a {
      margin: 0 15px 0 0;
    }

    p:last-of-type {
      margin: 0 0 0 6px;
      color: $--color-orange;
    }
  }

  &__buttonLink {
    font-size: 15px;
    color: $--color-orange;
    @include fontRegular();
    cursor: pointer;
    border: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    gap: 20px 0;

    button {
      margin-left: auto;

      @media (max-width: $--sm) {
        margin: 0 auto;
      }
    }
  }
}
