@import '~styles/variables.scss';

.addStep {
  padding: 0 35px 20px;
  color: $--color-gray7;

  &__form {
    margin: 25px 0 0 0;
  }

  &__label {
    margin: 20px 0 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.19;
    font-weight: 600;
    display: block;
  }
  &__title {
    font-size: 18px;
    line-height: 1.22;
    font-weight: 900;
  }

  &__buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 22px;
    align-items: center;

    p {
      color: red;
    }
  }

  &__button {
    width: 108px;
    height: 40px;
    padding: 11px 0;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    color: $--color-white;
    font: 16px/22px 'Montserrat';
    font-weight: 900;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    background-color: $--color-blue;
  }

  &__maxLength {
    text-align: end;
    margin: 5px 5px 0 0;
    font-size: 15px;
    opacity: 0.8;
  }
}
