@import '~styles/mixins/mixins.scss';
@import '~styles/variables.scss';

.home {
  @include fontRegular();
  min-height: 670px;
  padding: 38px 90px 0 90px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: 1350px) {
    padding: 38px 40px 0 40px;
  }

  @media (max-width: $--lg) {
    padding: 20px 0 0 0;
  }

  @media (min-width: $--xs) and (max-width: $--sm) {
    min-height: 510px;
  }

  @media (max-width: $--xs) {
    min-height: 400px;
    padding: 0px;
  }

  &__inputSearch {
    align-self: center;
    width: 100%;
    max-width: 670px;
    border: 1px solid $--color-gray2;
    border-radius: 28px;
    min-height: 56px;
    padding: 0 19px;
    text-align: left;
    font-size: 18px;
    line-height: 45px;
    letter-spacing: 0px;
    color: #b1b1b1;
    @include fontRegular();

    @media (max-width: $--lg) {
      max-width: 350px;
    }

    @media (max-width: $--sm) {
      min-height: 40px;
      font-size: 18px;
      line-height: 40px;
    }
  }

  &__iconSearch {
    position: relative;
    bottom: -4px;
    padding: 0 10px 0 0;
  }

  &__titleContainer {
    display: flex;

    margin: 67px 0 38px 0;

    @media (max-width: $--lg) {
      margin: 20px 0 38px 0;
    }
    @media (max-width: $--sm) {
      justify-content: flex-end;
      margin: 0 0 10px 0;
    }
  }

  &__titleContainer::before {
    @media (min-width: $--xs) {
      content: '';
      border: 1px solid $--color-gray;
      border-radius: 7px;
      width: 8px;
      background: $--color-gray3 0% 0% no-repeat padding-box;
    }
    @media (max-width: $--xs) {
      width: 1px;
    }
    @media (min-width: 360px) and (max-width: $--md) {
      display: none;
    }
  }

  &__titleTextContainer {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
    @include fontSemiBold();
    font-size: 50px;
    line-height: 58px;

    @media (max-width: $--lg) {
      font-size: 40px;
      line-height: 42px;
    }

    @media (max-width: $--sm) {
      margin: 0 0 0 6px;
      align-items: flex-end;
    }
  }

  &__titleText {
    font-size: 30px;
    line-height: 37px;
    color: $--color-gray;

    @media (max-width: $--lg) {
      font-size: 25px;
      line-height: 35px;
    }

    @media (max-width: $--xs) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 58px;
    color: $--color-orange;

    @media (max-width: $--lg) {
      font-size: 30px;
      line-height: 32px;
    }

    @media (max-width: $--xs) {
      font-size: 32px;
      line-height: 39px;
    }
  }

  &__subtitle {
    font-size: 50px;
    line-height: 58px;
    color: $--color-black;

    @media (max-width: $--lg) {
      font-size: 32px;
      line-height: 39px;
    }

    @media (max-width: $--sm) {
      font-size: 28px;
      line-height: 30px;
    }
  }

  &__slide {
    position: absolute;
    bottom: 5px;
    right: 170px;
  }

  &__slideButton {
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin: 17px;
  }

  &__slideButton:last-of-type {
    color: $--color-white;
    background: $--color-orange 0% 0% no-repeat padding-box;
    border: none;
  }

  &__slideButton:first-of-type {
    border: 2px solid $--color-orange;
    color: $--color-orange;
    background-color: rgba(0, 0, 0, 0);
  }

  &__buttonUploud {
    @media (max-width: $--sm) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.imgMint1 {
  position: absolute;
  width: 170px;
  left: -60px;
  top: 20px;
  z-index: -1;

  @media (max-width: 1350px) {
    left: -100px;
  }

  @media (max-width: $--lg) {
    left: 28%;
    top: 380px;
  }

  @media (max-width: $--sm) {
    top: 440px;
    left: -100px;
  }

  @media (max-width: $--xs) {
    top: 200px;
    right: -110px;
    left: auto;
  }
}

.imgBroccoli {
  position: absolute;
  width: 140px;
  bottom: 0;
  left: -40px;
  z-index: -1;

  @media (max-width: 1350px) {
    left: -80px;
  }

  @media (max-width: $--lg) {
    left: -40px;
  }

  @media (max-width: $--sm) {
    left: -70px;
    bottom: -330px;
  }

  @media (max-width: $--xs) {
    bottom: -250px;
    left: -90px;
  }
}

.imgMint2 {
  position: absolute;
  width: 120px;
  right: 0;
  bottom: 50px;
  z-index: -1;

  @media (max-width: $--sm) {
    bottom: auto;
    top: -108px;
    right: -10px;
    z-index: 2;
  }
  @media (max-width: $--xs) {
    bottom: -250px;
    left: -30px;
    transform: rotate(280deg);
  }
  @media (min-width: $--xs) and (max-width: $--md) {
    display: none;
  }
}

.imgCarrot {
  position: absolute;
  width: 171px;
  right: 0;
  bottom: 0;
  z-index: -2;

  @media (max-width: $--xs) {
    transform: rotate(-70deg);
    bottom: auto;
    top: -70px;
    left: -80px;
    z-index: 1;
  }
}

.imgBanner {
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 121px;
  right: 0;
  z-index: -1;
}
