@import "~styles/variables.scss";
@import "~styles/mixins/mixins.scss";

.ratedMeals {
    @include fontRegular();
    margin: 100px 0 80px 0;
    position: relative;

    @media (max-width: $--lg) {
        margin: 20px 0 20px 0;
    }

    &__title {
        padding: 38px 0 0 0;
        font-size: 47px;
        line-height: 44px;
        @include fontMedium();
        color: $--color-gray6;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            @media (max-width: $--sm) {
                @include fontSemiBold();
                font-size: 30px;
                line-height: 32px;
            }
        }
    }

    &__lineContainer {
        margin: 30px 0 50px 0;
        display: flex;
        align-items: center;
    }

    &__yellowLine {
        width: 316px;
        height: 10px;
        background: $--color-orange 0% 0% no-repeat padding-box;
        border-radius: 24px;

        @media (max-width: $--sm) {
            width: 90px;
            height: 6px;
        }
    }

    &__blueСircle {
        margin: 0 0 0 5px ;
        width: 10px;
        height: 10px;
        border-radius: 24px;
        background-color: $--color-blue;

        @media (max-width: $--sm) {
            width: 6px;
            height: 6px;
        }
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 338px);
    column-gap: 34px;
    row-gap: 20px;
    max-width: 1082px;
    margin: 0 auto;
    justify-content: center;

    @media (max-width: $--lg) {
        grid-template-columns: repeat(2, 338px);
    }

    @media (max-width: $--sm) {
        grid-template-columns: repeat(1, 285px);
    }
}

.containerButtons {
    margin: 53px auto 0;
    max-width: 204px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $--sm) {
        margin: 30px auto 0;
    }
}

.button_type_lineLong {
    width: 62px;
    height: 9px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 23px;
    background: $--color-orange;
    cursor: pointer;
}

.button_type_lineShort {
    width: 12px;
    height: 9px;
    margin: 0 ;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 23px;
    background: $--color-orange-light;
    cursor: pointer;
}