@import '~styles/mixins/mixins.scss';
@import '~styles/variables.scss';

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 41px 0;

  &__title {
    font-size: 40px;
    line-height: 48.7px;
    color: $--color-orange;
    font-weight: 700;
    max-width: 350px;
    margin-bottom: 26px;
    text-align: center;

    @media (max-width: $--xs) {
      font-size: 28px;
      line-height: 32px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 22px;
    color: $--color-black2;
    font-weight: 600;
    min-width: 322px;
    text-align: center;
  }
}
