@import '~styles/variables.scss';
@import "~styles/mixins/mixins.scss";

.card {
  width: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0;

  &__image {
    margin: 0;
    border: 1px solid $--color-orange;
    width: 95px;
    height: 95px;
    position: relative;
    padding: 0;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
  }

  &__button {
    position: absolute;
    top: -12px;
    right: -5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $--color-white;
    border: none;
    outline: none;
    cursor: pointer;
    background-image: url('/images/index/icons-delete-cross.svg');
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    @include fontSemiBold();
    font-size: 14px;
  }
}