@import "~styles/mixins/mixins.scss";
@import "~styles/variables.scss";

.profile {
    &__title {
        font-size: 18px;
        font-weight: 600;
        margin: 0 0 25px 0;
    }

    &__label {
        @include fontSemiBold();
        font-size: 16px;
        color: #000000;
        margin: 10px 0 10px 0;
        display: block;
    }

    &__upload {
        position: relative;
        height: 90px;
    }

    &__avatarBack:before {
        background-image: url('/images/index/pencil.svg');
        background-position: center;
        background-size: 26px 26px;
        background-repeat: no-repeat;
        content: '';
        position: absolute;
        background-color: #000000;
        opacity: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50%;
    }
    
    &__avatarBack:hover:before {
        opacity: 0.5;
    }
    
    &__avatarBack:hover {
        cursor:  pointer;
    }

    &__formAvatar {
        display: grid;
        grid-template-columns: 90px auto auto;
        gap: 26px;
        align-items: center;
        padding: 0 0 50px 0;
        margin: 0 0 50px 0;
        border-bottom: 1px solid #DFDFDF;

        p {
            color: #B1B1B1;
        }
    }

    &__avatar {
        width: 100%;
        height: 90px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #fff;
    }

    &__input {
        width: 525px;
        height: 56px;
        padding: 0 0 0 30px;
        border: 1px solid #DEDEDE;
        border-radius: 4px;
    }

    &__buttonUpdate {
        @include fontMedium();
        font-size: 20px;
        justify-self: end;
        color: $--color-blue;
        width: 140px;
        height: 56px;
        border: 1px solid $--color-blue;
        border-radius: 3px;

        &:hover {
            opacity: 0.5;
        }

        &:active {
            background-color: $--color-blue;
            color: $--color-white;
        }
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
            @include fontSemiBold();
            font-size: 16px;
            margin: 0 0 10px 0;
        }
    }

    &__errorForm {
        color: red;
        margin: 20px 0 0 0;
        font-size: 20px;
    }
}