@import '~styles/variables.scss';

.resetPasswordSuccessTitle {
  font-size: 24px;
  line-height: 1.08;
  text-align: center;
  color: $--color-green;
  margin: 200px 0 37px;
}

.resetPasswordSuccessSubTitle {
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  color: $--color-white;
  margin: 0 0 27px;
  font-weight: bold;
  cursor: pointer;
}

.resetPasswordSuccessText {
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: $--color-white;
  padding-bottom: 50px;
  cursor: pointer;
}